/*CSS Animations*/

/*Hover*/

h1:hover {
  background-color: pink;
}

div:hover {
  background: purple;
}

/*Focus*/
/*triggers when an element 'receives focus' or focused on that input. To see focus, tab over to the item*/
input:focus {
  background-color: red;
}

button:focus {
  border-radius: 10px;
  background-color: red;
}
