/*
transition-duration
transition-property
transition-delay
transition-timing-function
*/

.box {
  background: purple;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
  font-size: 17px;
  border-radius: 20px;
}

.box:hover {
  /*background: red;*/
  /*transform-origin: top left;*/
  /*transform: scale(2);*/
  /*border-radius: 50px;*/
  /*opacity: 0.5;*/
  transform: translateX(300px);
  background-color: teal;
}

.animated {
  /*transition-property: background-color, border-radius;*/
  /*transition-duration: 1s, 1s;*/
  /*transition-delay: 5s, 2s;*/
  /*transition-property: transform;*/
  /*transition-duration: 2s;*/
  /*transition-timing-function: ease-in-out;*/
  /*transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);*/
  /*transition-delay: 1s;*/
  /*Shorthand Transitions*/
  transition: transform 2s ease-out 1s, background-color 0.5s linear;
}
